.page {
  background-color: rgb(255, 255, 255);
  position: relative;
}

.page__section {
  width: calc(100% - 160px);
  max-width: 1240px;
}

@media screen and (max-width: 1024px) {
  .page__section {
    width: calc(100% - 120px);
  }
}

@media screen and (max-width: 600px) {
  .page__section {
    width: calc(100% - 40px);
  }
}

.page__footer {
  margin-top: -150px;
}

@media screen and (max-width: 1024px) {
  .page__footer {
    margin-top: -70px;
  }
}

@media screen and (max-width: 600px) {
  .page__footer {
    margin-top: -40px;
  }
}
