.speakers {
  display: flex;
  flex-direction: column;
}

.speakers__table {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 295px);
  gap: 40px 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.speakers__cell {

}

.speakers__person {
  margin: 0;
}

.speakers__photo {
  width: 295px;
  height: 220px;
  object-fit: cover;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.speakers__name {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: rgb(0, 0, 0);
  margin: 14px 10px 10px 0;
}

.speakers__link-twitter {

}

.speakers__icon{
  width: 34.7px;
  height: 34.7px;
}

.speakers__caption {
  width: 100%;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 0 31px 0;
}

.speakers__btn-more {
  width: 121px;
  height: 40px;
  padding: 11.6px 18px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.speakers__btn-showmore {
  background-color: #000;
  border-radius: 24px;
  width: 163px;
  height: 40px;
  padding: 12px 18px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 50px auto 0;
}

.speakers__btn-buy {
  display: none;
}
