.speakers {
  display: flex;
  flex-direction: column;
  margin: 0 auto 150px;
}

@media screen and (max-width: 1024px) {
  .speakers {
    margin-bottom: 111px;
  }
}

@media screen and (max-width: 600px) {
  .speakers {
    margin-bottom: 50px;
  }
}

.speakers__table {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .speakers__table {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .speakers__table {
    grid-template-columns: 1fr;
  }
}

.speakers__gradient {
  z-index: 2;
  width: 100%;
  height: 139px;
  margin-top: -80px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%,rgb(255, 255, 255) 57%);
}

@media screen and (max-width: 600px) {
  .speakers__gradient {
    display: none;
  }
}

.speakers__btn-showmore {
  background-color: rgb(0, 0, 0);
  border-radius: 24px;
  border: none;
  width: 163px;
  height: 40px;
  padding: 12px 18px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: auto;
  cursor: pointer;
  transition: 0.3s;
}

.speakers__btn-showmore:hover {
  opacity: 0.8;
}

.speakers__btn-showmore:focus {
  outline: none;
}

@media screen and (max-width: 1024px) {
  .speakers__btn-showmore {
    width: 180px;
  }
}

@media screen and (max-width: 600px) {
  .speakers__btn-showmore {
    width: 140px;
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 11px;
    line-height: 13px;
  }
}

.speakers__btn-buy {
  display: none;
  cursor: pointer;
  transition: 0.3s;
}

.speakers__btn-buy:hover {
  background-color: rgb(242, 242, 242);
}

.speakers__btn-buy:focus {
  outline: none;
}

@media screen and (max-width: 1024px) {
  .speakers__btn-buy {
    display: block;
    width: 180px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 24px;
    padding: 12px 18px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 25px auto 0;
  }
}

@media screen and (max-width: 600px) {
  .speakers__btn-buy {
    width: 140px;
    font-size: 11px;
    line-height: 13px;
  }
}
